body {
  background-color: #1f6f78;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/146/703/original/Teknoloji-sayfa3.jpg?1728326150");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 34px;
  line-height: 0.8;
  color: #9ce4ed;
}

header {
  margin-bottom: 30px;
}

.form-container {
  padding: 15px 20px;
  background-color: #f2f9f1;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}

form {
  display: flex;
}

.hint {
  line-height: 1.5;
  margin-top: 5px;
  opacity: 0.6;
  font-size: 12px;
}
.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  border-radius: 50px;
  width: 80%;
  font-size: 16px;
  line-height: 20px;
  color: #272044;
}

.submit-button {
  margin-left: 10px;
  background: #096c47;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  padding: 14px 24px;
  font-size: 16px;
  width: 150px;
}

.joke {
  font-size: 16px;
  background-color: #f2f9f1;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid #096c47;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}

.hidden {
  display: none;
}

.joke strong {
  color: #096c47;
}

footer {
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
  color: #000000;
  font-weight: bold;
}

a {
  color: #f70776;
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
